---
import Item from "../../Collections/ItemFeature/Item.astro"
import bat from '../../../img/regular/flagermus.png';
import blouse from '../../../img/regular/blue_blouse.png'
import socks from '../../../img/regular/socks.png'
import Image from "astro/components/Image.astro";
import Rectangle from "../../../img/regular/pink_rectangle.png"

const products = await fetch("https://ujeckodeljhzamhwlhsj.supabase.co/rest/v1/products?select=*",{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVqZWNrb2RlbGpoemFtaHdsaHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1MDI3ODIsImV4cCI6MjAzMTA3ODc4Mn0.qKKBr9i_Jy2NzTfbu_jinScWs6PmGaBMoeK-1WHbmcU",
    }
}).then((res) => res.json());

const { data } = Astro.props;
let orderCount = 0;

---
<article>
    {products.map(item =>{
        if (item.id == data.items[0] || item.id == data.items[1] || item.id == data.items[2] ) {
            let thisItem = <div class="item"><Item data={item} order={orderCount} variant={data.class} /></div>
            orderCount++;
            return thisItem;
        }      
    })}
    
    <div class="box"></div>
    <!-- <div>
        <Item
        src={blouse} alt="BLUE PRINCESS BLOUSE"
        direction="above"
        label="BLUE PRINCESS BLOUSE"
        variant="b"
        />
    </div>
    <div>
        <Item
        src={socks} alt="CHESS SOCKS"
        direction="below"
        label="CHESS SOCKS"
        variant="a"
        />
    </div>
      <div>
        <Item
        src={bat} alt="BAT BAG"
        direction="above"
        label="BAT BAG"
        variant="b"
        />
    </div> -->
</article>

<style>

    article {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 283px;
        max-width: 544px;
        position: relative;
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr); */
    }

    .box {
        background-color: var(--box-color);
        width: 100%;
        height: 752px;
    }

    .item {
        position: absolute;
    }

    .item:nth-child(1) {
        left: 2rem;
        top: -4rem;
        transform: rotate(16deg);
    }

    .item:nth-child(2) {
        top: 55%;
        right: 2rem;
        transform: translateY(-50%) rotate(-36deg);
    }

    .item:nth-child(3) {
        left: -1rem;
        bottom: -2rem;
        transform: rotate(-16deg);
    }

    /* @media (min-width: 630px){
        .container{
            margin-bottom: 6rem
        }

        .pink_bagground{
            scale: 0.8;
        }
    }

    @media (min-width: 900px){
       

        .pink_bagground{
            scale: 1;
        }

    } */

</style>
