---

import { Image } from "astro:assets";

const { data, page, text_align } = Astro.props;

---
<a href={`/shop/${data.slug}`} class="hide">
  <article>
      <Image src={data.image} alt="" inferSize class={page} />
    <header class={text_align}>
      <h1 class="heading_3 caps">{data.name}</h1>
      <p>€{data.price}</p>
    </header>
  </article>
</a>

<style>
  article {
    display: grid;
    flex-direction: column;
    gap: var(--medium);
  }

  img {
    background-color: var(--box-color);
    object-fit: scale-down;
  }

  img.shop {
    aspect-ratio: 1/1.25;
  }

  img.collections {
    aspect-ratio: 1/1;
  }

  .product_info {
    display: flex;
    flex-direction: column;
    gap: var(--x-small);
  }

  header.center {
    text-align: center;
  }

  .hide {
        display: none;
    }
</style>
