---
import { Image } from "astro:assets";
import ItemName from "./ItemName.astro";

const { data, alt, variant, label, src, direction, order } = Astro.props;
---

<a href=`/shop/${data.slug}` style=`order: ${order}`>
<div id="flex" class={variant} >
  <ItemName direction={direction} label={label} />

  <Image src={data.image} alt={alt} inferSize />
</div>
</a>

<style>
  #flex {
    max-width: fit-content;
    display: flex;
  }
  img {
    max-width: 200px;
  }

 .a {
    flex-direction: column;
  }

  .b {
    flex-direction: column-reverse;
  }
</style>
