---
import { Image } from "astro:assets";
import ItemName from "./ItemName.astro";

const { data, order, variant } = Astro.props;
---

<a href=`/shop/${data.slug}` style=`order: ${order}`>
  <article class={variant[order]} >
    <ItemName position={variant[order]} label={data.name} />
    <div class="img_container">
      <Image src={data.image} alt={data.name} inferSize />
    </div>    
  </article>
</a>

<style>
  article {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }
  .img_container {
    max-width: 200px;
    padding: var(--medium);
  }

  .above img {
    transform: rotate(24deg);
  }

  .below .img_container {
    order: -1;
  }

  .below img {
    transform: rotate(-40deg);
    
  }

  @media (min-width: 630px) {
    .img_container {
    max-width: 248px;
  }
  }
  @media (min-width: 960px) {
    .img_container {
    max-width: 283px;
  }
  }

</style>
