---
import { Image } from "astro:assets";
import ItemName from "./ItemName.astro";

const { data, order, variant } = Astro.props;
---

<a href=`/shop/${data.slug}` style=`order: ${order};`>
  <article class={variant[order]} >
    <ItemName position={variant[order]} label={data.name} />
    <div class="img_container">
      <Image src={data.image} alt={data.name} inferSize />
    </div>    
  </article>
</a>

<style>

  a {
    transform: translateY(275px) rotate(15deg);
    opacity: 0;
    filter: blur(5px);
    transition: all .5s ease-out;
  }

  a:nth-child(2) {
    transition-delay: .15s;
  }
  a:nth-child(3) {
    transition-delay: .25s;
  }

  a:hover {
    opacity: 0.5;
  }

  article {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }
  .img_container {
    max-width: 180px;
    padding: var(--medium);
  }

  .above img {
    transform: rotate(24deg);
  }

  .above_2 img {
    transform: rotate(-24deg);
  }

  .below .img_container, .below_2 .img_container {
    order: -1;
  }

  .below img {
    transform: rotate(-40deg);
    
  }
  .below_2 img {
    transform: rotate(20deg);
    
  }

  .side .img_container {
    padding: 0;
    width: 7rem;
  }

  .side img {
    transform: rotate(60deg);
  }

  .pop {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
}

  @media (min-width: 630px) {
    .img_container {
      max-width: 204px;
  }
  }
  @media (min-width: 960px) {
    .img_container {
    max-width: 283px;
  }

  .side .img_container {
    width: 8rem;
  }
  }

</style>



