---

import { Image } from "astro:assets";
import Tape from "../../../img/img_assets/Tape.png";
import Pin from "../../../img/img_assets/Pin.png";

const { src, alt, title, label, variant, fixture, style } = Astro.props

---

<article class={fixture} style={style}>    
    <Image src={Tape} class="tape a" alt="" />
    <Image src={Tape} class="tape b" alt="" />
    <Image src={Pin} class="pin" alt="" />
    <Image src={src} alt={alt} class={variant} />
    <header>
        <h1 class="heading_3">{title}</h1>
        <p class="polaroid">{label}</p>
    </header>
</article>

<style>

    article {
        position: relative;
        min-width: 204px;
        max-width: 264px;
        padding: 1rem;
        background-color: var(--white-smoke);
        filter: var(--dropshadow);
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--x-small) var(--none);
        min-height: 2rem;
    }

    img {
        aspect-ratio: 1/1;
        object-position: 0% 50%;
        object-fit: cover;
    }

    img.tall {
        aspect-ratio: 1/1.25;
    }

    img.top {
        object-position: 0% 0%;
    }

    img.bottom {
        object-position: 0% 100%;
    }

    
    .tape {
    aspect-ratio: 1 / 1;
    width: 150px;
    position: absolute;
    }

  .tape.a {
    top: -45px;
    right: -35px;
  }

  .tape.b {
    bottom: -45px;
    left: -35px;
  }

  .pin {
    aspect-ratio: 1 / 1.5;
    width: var(--medium);
    position: absolute;
    display: none;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  p.polaroid {
    text-align: center;
  }

  article.taped .tape {
        display: block;
    }

    article.pinned .pin {
        display: block;
    }

    @media (min-width: 630px) {
        article {
            max-width: 360px;
        }
    }

    @media (min-width:960px) {
        article {
            max-width: 440px;
        }
    }

</style>