---
import { Image } from "astro:assets";

const { src, variant, alt } = Astro.props;
import PlaceholderImage from "../../../img/regular/flagermus.png";
import Tape from "../../../img/regular/Tape.png";
---

<!-- For regular images; these will be nested inside other image components -->
<div>
  <Image src={PlaceholderImage} class={variant} alt={alt} />
</div>

<!-- <div>
  <Image src={Tape} class="container" alt={alt} />
  <Image src={Tape} class="container2" alt={alt} />
</div> -->

<style>
  div {
    width: 380px;
    /* aspect-ratio: 1 / 2; */
  }
  /*  .square {
    aspect-ratio: 1/1;} /* ??? */

  /* --------- Variants -------------- */
  .transparentBG {
    background-color: transparent;
  }
  .regular {
    background-color: var(--lavender);
  }
  .opacity {
    background-color: var(--lavender);
    filter: opacity(75%);
  }
  /*   .tape {
    background-color: var(--lavender);
  } */
/*   .container {
    background-color: transparent;
    position: absolute;
    top: 6%;
    left: 52%;
    max-width: 30%;
  }
  .container2 {
    background-color: transparent;
    position: absolute;
    aspect-ratio: 1/1;
    top: 55%;
    left: -10%;
    max-width: 30%;
  } */
</style>
