---
import { Image } from "astro:assets";

const { src, variant, alt } = Astro.props;
import PlaceholderImage from "../../../img/regular/flagermus.png";
import Tape from "../../../img/regular/Tape.png";
---

<!-- For regular images; these will be nested inside other image components -->
<Image src={PlaceholderImage} class={variant} alt={alt} class="regular"/>

<!-- <div>
  <Image src={Tape} class="tape container" alt={alt} />
  <Image src={Tape} class="tape container2" alt={alt} />
</div> -->

<style>
  div {
    position: relative;
  }

/*   .square{
    aspect-ratio: 1/1;
  } */
  .regular {
    background-color: var(--lavender);
    max-width: 380px;
  }
  .opacity {
    background-color: var(--lavender);
    max-width: 380px;
    filter: opacity(75%);
  }

  .tape {
    background-color: var(--lavender);
    max-width: 380px;
  }
  .tape.container {
    background-color: transparent;
    position: absolute;
    top: 6%;
    left: 52%;
    max-width: 30%;
  }
  .tape.container2 {
    background-color: transparent;
    position: absolute;
    aspect-ratio: 1/1;
    top: 65%;
    left: -10%;
    max-width: 30%;
  }
</style>
