---
import { Image } from "astro:assets";

import Tape from "../../../img/regular/Tape.png";

const { src, variant, alt } = Astro.props;

---

<!-- For regular images; these will be nested inside other image components -->
<div class="container with_background">
  <Image src={src} class={variant} alt={alt} />
  <Image src={Tape} class="tape a" alt={alt} />
  <Image src={Tape} class="tape b" alt={alt} />
</div>

<style>
  .container {
    width: 300px;
    position: relative;
  }

  /* --------- Variants -------------- */
  .with_background {
    background-color: var(--lavender);
  }

  .opacity{
    opacity: 0.75;
  }

  .tape {
    aspect-ratio: 1 / 1;
    width: 150px;
    position: absolute;
  }

  .tape.a {
    top: -45px;
    right: -35px;
  }

  .tape.b {
    bottom: -45px;
    left: -35px;
  }
</style>
