---
import { Image } from "astro:assets";

import Tape from "../../../img/img_assets/Tape.png";

const { src, alt, style, size } = Astro.props;

---

<div class="container" style={size}>
  <Image src={src} alt={alt} style={style} />
  <Image src={Tape} class="tape a" alt="" />
  <Image src={Tape} class="tape b" alt="" />
</div>

<style>
  .container {
    position: relative;
    justify-content: center;
  }

  img {
    object-fit: cover;
  }

  img:nth-child(1) {
    max-height: inherit;
  }

  .tape {
    aspect-ratio: 1 / 1;
    width: 150px;
    position: absolute;
  }

  .tape.a {
    top: -45px;
    right: -35px;
  }

  .tape.b {
    bottom: -45px;
    left: -35px;
  }


</style>
