---
import { Image } from "astro:assets";

import Tape from "../../../img/regular/Tape.png";

const { src, alt, style } = Astro.props;

---

<div class="container">
  <Image src={src} alt={alt} style={style} />
  <Image src={Tape} class="tape a" alt="" />
  <Image src={Tape} class="tape b" alt="" />
</div>

<style>
  .container {
    max-width: var(--content-max);
    position: relative;
  }

  .tape {
    aspect-ratio: 1 / 1;
    width: 150px;
    position: absolute;
  }

  .tape.a {
    top: -45px;
    right: -35px;
  }

  .tape.b {
    bottom: -45px;
    left: -35px;
  }


</style>
