---
import { Image } from "astro:assets";

import Tape from "../../../img/polaroid/Tape.png";

const { src, alt, style, size } = Astro.props;

---

<div class="container" style={size}>
  <Image src={src} alt={alt} style={style} />
  <Image src={Tape} class="tape a" alt="" />
  <Image src={Tape} class="tape b" alt="" />
</div>

<style>
  .container {
    max-width: var(--content-max);
    position: relative;
    justify-content: center;
    /* overflow-x: clip; */
    /* padding: auto 1rem; */
  }


  .tape {
    aspect-ratio: 1 / 1;
    width: 150px;
    position: absolute;
  }

  .tape.a {
    top: -45px;
    right: -35px;
  }

  .tape.b {
    bottom: -45px;
    left: -35px;
  }


</style>
