---
import Polaroid from "../Basics/img/Polaroid.astro"
import Model from "../../img/regular/frontpage_hero_img1.png"
import Haha from "../../img/polaroid/Tape.png"
import Image from "astro/components/Image.astro"
import Princess from "../../img/regular/frontpage_hero_img4.png"
import TapedImage from "../Basics/img/TapedImage.astro"
import HeroImg2 from "../../img/regular/frontpage_hero_img2.png"
import Model2 from "../../img/regular/frontpage_hero_img3.png"
---

<article class="break_main main_container">
    <div class="container">
        <div class="flexbox">
            <div class="flex_row">
                <div class="img img1">
                    <Image src={Princess} alt="princess with lines around her"/>
                </div>
                <div class="img img2">
                    <Polaroid src={Model2} alt="A picture of a woman model" variant="tall" showPin={false} showTape={true}/>
                </div>
                <div class="img img3">
                    <TapedImage src={HeroImg2} alt="model"/>
                </div>
                <div class="img img4">
                    <Polaroid src={Model} alt="A picture of a woman model" variant="tall" showPin={false} showTape={true}/>
                </div>
            </div>
            <div class="text">
                <h1 class="display">SOPHIA KHALED</h1>
                <h2 class="subheading" >Copenhagen based fashion brand</h2>
            </div>
        </div>
    </div>
</article>

<style>

    .main_container{
        display: grid;
        grid-template-columns: 1fr min(90%, 1200px) 1fr;
        background-image: url(../../img/regular/Hero.png);
        padding: 2rem 0;

    }
    .break_main {
        grid-column: 1 / 4;

    }
    .container {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: url(../../img/regular/Hero.png);
    }
    .flexbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flexbox:last-child{
       align-items: end;
    }

    .text{
        text-align: right; 
    }
    .flex_row{
        display: flex;
        flex-direction: row;
       align-items: center;
    }
    .img{
        max-width: 500px;
    }

    /* Styling af de individuelle billeder i hero */
    .img1{
        display: none;
        z-index: 1;
    }

    .img2{ display: none;
    transform: rotate(15deg);

    }
    .img3{ display: none;
    }
    .img4{ display: block;
        max-width: 300px ;
        transform: rotate(-5deg);
        transform: translateX(-50);
    }

    @media (min-width: 630px){
        .img2{ 
            display: block;
        }
        .img3{ 
            display: block;
        }
  
        .flexbox{
            max-width: 600px;
        }
    }
    @media (min-width: 930px){
    .img1{ display: block;
        width: 60%;   
     }
    .img2{ display: block;
        width: 50%;   

    }
    .img3{ display: block;
        width: 60%;
    }
    .img4{ display: block;
    }
       .flexbox{
        max-width: 1200px;
    }
    }
    
</style>