---



import ArrowButton from "../../Basics/buttons/ArrowButton.astro"

const { data } = Astro.props

---

    <article>
        <header>
            <div>
                <h1 class="subheading_scribble">Collection {data.no}</h1>
                <h2 class="heading_2">{data.name}</h2>
            </div>                
            <img src={data.img} alt="" class="desktop">
            <ArrowButton label="See collection" href=`/collections/${data.slug}` />
        </header>
            
        <img src={data.img} alt="" class="mobile">
    </article>



<style>
    article {
        min-width: 283px;
        max-width: 352px;
        display: flex;
        justify-content: space-between;
        gap: var(--medium);
        justify-self: center;
        align-items: center;
    }

    header {
        display: grid;
        align-content: start;
        justify-items: center;
        min-width: 160px;
    }

    img {
        width: auto;
        max-height: 160px;
    }

    img.desktop {
        display: none;
    }

    @media (min-width: 630px) {
        img.mobile {
            display: none;
        }

        img.desktop {
            display: block;
            max-height: 240px;
        }
    }
</style>